body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
    margin: 0;
    padding: 0;


}

.container{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;

}

form{
    display: flex;
    flex-flow: column;
    
    
}

.icon{
    height: 80px;
    width: 80px;
    background-color: green;
    border-radius: 50%;
}
